<% if object.errors.any? %>
  <ul class="p-3 text-sm text-red-500 bg-red-50 border-2 border-red-100 rounded-xl">
    <% object.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>
